@use '../abstacts/colors';
@use '../abstacts/mixins';
@use '../abstacts/variables';

.MediaViewer {
  position: relative;
  width: 100%;
  height: 100%;

  img, video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: .5rem;
  }

  svg {
    z-index: 1;
    position: absolute;      
    top: 50%;      
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    color: colors.$white;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all .2s ease-in;

    &:hover {
      background-color: rgba(0, 0, 0, 0.6);
      transform: scale(1.1);
    }
  }

  .leftArrow {
    left: 1rem;
  }

  .rightArrow {
    right: 1rem;
  }
}