@use '../../abstacts/colors';
@use '../../abstacts/mixins';
@use '../../abstacts/variables';

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8vh;
  padding: .5rem;
  width: 25vw;
  height: calc(25vw + 200px);
  min-width: 400px;
  min-height: calc(400px + 200px);
  border-radius: .8rem;
  background: var(--component-color);
  box-shadow: var(--post-shadow-color) 0px 50px 100px -20px;
  transition: all 0.2s ease-in;

  @include mixins.device(mobile) {
    width: 90vw;
    height: calc(90vw + 150px);
    min-width: calc(0.9 * variables.$minimum-device-width);
    min-height: calc(0.9 * variables.$minimum-device-width + 150px);
  }

  .uploader {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    margin-bottom: .4rem;
    margin-left: .8rem;
    width: 100%;
    height: 2.4rem;

    @include mixins.device(mobile) {
      height: 2rem;
    }
  
    & > img, svg {
      position: relative;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      object-fit: cover;

      @include mixins.device(mobile) {
        width: 1.8rem;
        height: 1.8rem;
      }
    }

    span {
      padding-left: .8rem;
      font-size: .9rem;
      font-weight: bold;
    }
  }
  
  .media {
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
    width: 100%;
    height: 60%;

    @include mixins.device(mobile) {
      height: calc(100% - 50px);
      min-height: 200px;
    }

    img, video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
      border-radius: .5rem;
    }

    svg {
      z-index: 1;
      position: absolute;      
      top: 50%;      
      width: 2rem;
      height: 2rem;
      border-radius: 2rem;
      color: colors.$white;
      background-color: rgba(0, 0, 0, 0.4);
      transition: all .2s ease-in;

      &:hover {
        background-color: rgba(0, 0, 0, 0.6);
        transform: scale(1.1);
      }
    }

    .leftArrow {
      left: 1rem;
    }

    .rightArrow {
      right: 1rem;
    }
  }

  .ddabongCount {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    margin-left: .8rem;
    padding-top: 1rem;
    width: 100%;
    height: 2rem;
    font-size: .7rem;

    .name {
      font-weight: bold;
    }
  }
  
  .buttons {    
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding-top: 1rem;
    width: 100%;
    height: 2rem;

    button {
      padding: 0 .5rem;
      color: inherit;

      svg {
        width: 22px;
        height: 22px;

        @include mixins.device(mobile) {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  
  .content {    
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding-top: .5rem;
    padding-left: .5rem;
    width: 100%;
    font-size: .8rem;
    font-weight: lighter;

    .contentUploader {
      font-weight: bold;
    }

    p {
      padding-left: .5rem;
    }

    .contentDate {
      padding-left: .5rem;
      opacity: .6;
      font-size: .5rem;
      font-weight: lighter;
    }
  }

  .moreCommentsBtn {
    flex-shrink: 0;
    margin: 1rem;
    font-size: .8rem;
    font-weight: bold;
    text-decoration: underline;
    color: inherit;
  }
}