@use '../../abstacts/colors';
@use '../../abstacts/mixins';
@use '../../abstacts/variables';

.addPostBox { 
  padding: 1rem;
  width: 40vw;
  height: calc(40vw + 200px);
  min-width: 500px;
  max-width: 600px;
  min-height: calc(700px);
  max-height: calc(800px);
  border-radius: .8rem;
  background: var(--component-color);
  box-shadow: var(--post-shadow-color) 0px 50px 100px -20px;

  @include mixins.device(mobile) {
    width: 90vw;
    height: calc(90vw + 250px);
    min-width: calc(0.9 * variables.$minimum-device-width);
    min-height: calc(0.9 * variables.$minimum-device-width + 250px);
  }
}