@use '../../abstacts/colors';
@use '../../abstacts/mixins';
@use '../../abstacts/variables';

.imageAddBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;   
  width: 100%;
  height: 100%;

  .editSection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;

    .imageDropZone {    
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: var(--bg-color);
      border: .2rem dashed var(--nav-border-color);
  
      span {
        margin: 1rem;
        font-size: 1rem;
        font-weight: bold;
  
        @include mixins.device(mobile) {
          font-size: .9rem;
        }
      }   
  
      .fileInput {      
        label {
          display: block;
          color: inherit;
          font-size: .9rem;
          font-weight: bold;
          text-decoration: underline;
          cursor: pointer;
        }
  
        input[type="file"] {
          position: absolute;
          width: 0;
          height: 0;
          padding: 0;
          overflow: hidden;
          border: 0;
        }
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    padding: 0 1rem;
    width: 100%;
    height: 2rem;

    .backBtn {
      font-size: .8rem;
      color: var(--color);
      font-weight: bold;
      text-decoration: underline;
    }
  }
}